.introductionWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.introductionTextWrapper {
    max-width: 650px;
    white-space: break-spaces;
    font-size: 29px;
    text-align: justify;
    font-weight: 300;
    word-break: break-all;
    hyphens: auto;
}

.hobbiesWrapper {
    margin-top: 50px;
    white-space: break-spaces;
    font-size: 20px;
    text-align: justify;
    font-weight: 300;
    margin-bottom: 40px;
    word-break: break-all;
    hyphens: auto;
}

.skillsWrapper {
    margin-top: 12px;
}

.softSkillsWrapper {
    margin-top: 24px;
}

.aboutMeContainer {
    margin-bottom: 80px;
}

@media (max-width: 953px) {
    .introductionTextWrapper {
        font-size: 24px;
        max-width: 480px;
    }

    .memoji {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1150px) {
    .introductionTextWrapper {
        max-width: 480px;
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .aboutMeContainer {
        margin-bottom: 50px;
    }

    .introductionWrapper {
        flex-direction: column;
    }

    .introductionTextWrapper {
        font-size: 24px !important;
        margin-top: 24px;
    }

    .hobbiesWrapper {
        margin-top: 24px;
        font-size: 16px;
    }
}