.whatsappCtaWrapper {
    position: fixed;
    bottom: 80px;
    right: 8px;
}
.whatsappCta {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.whatsappCta:hover {
    transform: scale(1.05);
}