.header {
    background-color: #FBFBFB;
    padding: 16px;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.header nav ol {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.header nav ol li {
    margin-right: 12px;
}

.header nav ol li:nth-child(2) {
    flex-grow: 1;
    margin-right: 0;
    font-weight: 600;
}

.header nav ol li:last-child {
    margin-right: 0;
}

.header nav ol li a {
    text-decoration: none;
    color: black;
}

.header nav ol li a:hover {
    text-decoration: underline;
}